.listItemContainer {
  display: flex;
  flex-direction: column;
}
.listItemPice {
  display: flex;
  align-items: center;
  gap: 8px;
}
.deleteButton {
  background-color: rgb(223, 10, 10);
  color: aliceblue;
}
.deleteButton:hover {
  background-color: rgb(233, 130, 130);
}
.contactName {
  text-overflow: ellipsis;
  max-width: 112px;
  overflow: hidden;
}
